.trip-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.trips-details__detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px;
  width: 100%;
}
